@model SurveyResponse
@{
    ViewData["Title"] = "Index";
}



<h1>Survey</h1>

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for ="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <div>
            <input type="radio" asp-for="Gender" value="Male" />Male
            </br>
            <input type="radio" asp-for="Gender" value="Female" />Female
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    
        <label asp-for="Question" class="control-label">Are voting?</label>
        @foreach (var checkbox in Model.Checkboxes)
        {
        <div class="form-check">
            <input class="form-check-input" 
            type="checkbox" 
            name="Question" 
            value="@checkbox.Value"
            id="checkbox_@checkbox.Value"
            checked="@checkbox.IsChecked">
            <label class="form-check-label" for="checkbox_@checkbox.Value">@checkbox.Description</label>
        </div>
        }
        
        <span asp-validation-for="Question" class="text-danger"></span>
 
   

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

