@model Survey
@{
    ViewData["Title"] = "Index";
}

   

<div class="row">
<h1 class="text-center">Election Survey</h1>

<form asp-controller="Survey" asp-action="Index" method="post">
    <div class="form-group mb-4">
    <label asp-for="Name" class="control-label"></label>
    <div class="input-group mb-4">
        <input asp-for="Name" type="text" class="form-control w-50" required/>
         </div>
        <span asp-validation-for="Name" class="text-danger"></span>
   
    </div>
    <div class="form-group mb-4">
        
        <label asp-for="Age" class="form-label"></label>
        <div class="input-group">
        <input asp-for ="Age" type="number" required/>
        </div>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
   <div class="form-group mb-4">
    <label asp-for="Gender" class="control-label"></label>
    <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Gender" value="Male" />
            <label class="form-check-label" >Male</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Gender" value="Female" />
            <label class="form-check-label" >Female</label>
         </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
   </div>
   <div class="form-group mb-4">
   <label asp-for="Question" class="control-label"></label>
       
     
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Question" value="Yes" />
            <label class="form-check-label" >Yes</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Question" value="Not sure yet" />
            <label class="form-check-label" >Not sure yet</label>
            </div>
            <div class="form-check">
             <input class="form-check-input" type="radio" asp-for="Question" value="No" />
             <label class="form-check-label" >No</label>
        </div>
       <span asp-validation-for="Question" class="text-danger"></span>
   
</div>
    <div>
        <input type="submit" class="btn btn-main-color main-color pr-3 pl-3 align-center" value="Submit">
    </div>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
